*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Karla', sans-serif;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container{
    width: 92%;
    max-width: 1400px;
    margin: 0 auto;
}
header{
    padding: 50px 0;
}
img{
    width: 300px;
    height: auto;
}
main{
    flex-grow: 1;
    align-items: center;
    display: flex;
    padding-bottom: 300px;
}
h1{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 16px;
}
p{
    font-size: 24px;
}